In [1]:
import numpy as np
import statsmodels.api as sm
import pandas as pd

In [4]:
data = pd.read_csv('binary_data1.csv')
data = data.drop(columns=data.columns[0])
data = data.set_index('Subject')
data = sm.add_constant(data)
display(data)
glm_binom = sm.GLM(data['Signs'], data.drop(columns=['Signs']), family=sm.families.Binomial())
res = glm_binom.fit()
print(res.summary())

         const  Age  Signs
Subject
JW         1.0   39      0
JM         1.0   42      1
DT         1.0   20      0
LK         1.0   37      1
JK         1.0   20      1
MK         1.0   21      0
FP         1.0   41      1
DG         1.0   52      1

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  Signs   No. Observations:                    8
Model:                            GLM   Df Residuals:                        6
Model Family:                Binomial   Df Model:                            1
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -4.2173
Date:                Thu, 12 May 2022   Deviance:                       8.4345
Time:                        07:05:01   Pearson chi2:                     7.42
No. Iterations:                     4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.9209      2.647     -1.104      0.270      -8.108       2.266
Age            0.1057      0.080      1.315      0.188      -0.052       0.263
==============================================================================

In [6]:
data = pd.read_csv('binary_data2.csv')
data

    Unnamed: 0  Year  Rain   SOI  Phase Exceed  y
0            1  1921  38.4   2.7      2    Yes  1
1            2  1922   0.0   2.0      5     No  0
2            3  1923   0.0 -10.7      3     No  0
3            4  1924  24.4   6.9      2    Yes  1
4            5  1925   0.0 -12.5      3     No  0
..         ...   ...   ...   ...    ...    ... ..
63          64  1984  95.6   0.8      4    Yes  1
64          65  1985  11.9  -2.2      4    Yes  1
65          66  1986  56.0   2.0      2    Yes  1
66          67  1987   0.0 -17.3      1     No  0
67          68  1988  40.2  10.5      4    Yes  1

[68 rows x 7 columns]

In [34]:
data = pd.read_csv('binary_data2.csv')
data = data.drop(columns=[data.columns[0], 'Exceed'])
data['RainThreshold'] = np.max(np.transpose(np.vstack(((data['Rain']-10)/data['Rain'], 0*np.ones(len(data['Rain']))))), axis=1)
# data = data.set_index('Year')
data = sm.add_constant(data)
display(data)
glm_binom = sm.GLM(data['y'], data.drop(columns=['y', 'Rain', 'RainThreshold']), family=sm.families.Binomial())
res = glm_binom.fit()
print(res.summary())

    const  Year  Rain   SOI  Phase  y  RainThreshold
0     1.0  1921  38.4   2.7      2  1       0.739583
1     1.0  1922   0.0   2.0      5  0       0.000000
2     1.0  1923   0.0 -10.7      3  0       0.000000
3     1.0  1924  24.4   6.9      2  1       0.590164
4     1.0  1925   0.0 -12.5      3  0       0.000000
..    ...   ...   ...   ...    ... ..            ...
63    1.0  1984  95.6   0.8      4  1       0.895397
64    1.0  1985  11.9  -2.2      4  1       0.159664
65    1.0  1986  56.0   2.0      2  1       0.821429
66    1.0  1987   0.0 -17.3      1  0       0.000000
67    1.0  1988  40.2  10.5      4  1       0.751244

[68 rows x 7 columns]

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   68
Model:                            GLM   Df Residuals:                       64
Model Family:                Binomial   Df Model:                            3
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -37.580
Date:                Thu, 12 May 2022   Deviance:                       75.160
Time:                        07:40:22   Pearson chi2:                     68.1
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -12.2057     28.099     -0.434      0.664     -67.278      42.867
Year           0.0066      0.014      0.457      0.648      -0.022       0.035
SOI            0.1497      0.043      3.514      0.000       0.066       0.233
Phase         -0.1528      0.214     -0.713      0.476      -0.573       0.267
==============================================================================

In [42]:
data = pd.read_csv('count_data1.csv')
data = data.drop(columns=data.columns[0])
data = sm.add_constant(data)
display(data)
glm_poisson = sm.GLM(data['noisy_miners'], data.drop(columns='noisy_miners'), family=sm.families.Poisson())
res = glm_poisson.fit()
print(res.summary())

    const  Euc  noisy_miners
0     1.0    2             0
1     1.0   10             0
2     1.0   16             3
3     1.0   20             2
4     1.0   19             8
5     1.0   18             1
6     1.0   12             8
7     1.0   16             5
8     1.0    3             0
9     1.0   12             4
10    1.0   32            19
11    1.0    2             0
12    1.0   16             2
13    1.0    7             0
14    1.0   10             3
15    1.0   15             1
16    1.0   30             7
17    1.0    4             1
18    1.0    4             0
19    1.0   19             7
20    1.0   11             0
21    1.0    0             0
22    1.0    0             0
23    1.0    0             0
24    1.0    3             0
25    1.0    8             0
26    1.0    8             0
27    1.0   15             0
28    1.0   21             3
29    1.0   24             4
30    1.0   15             6

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           noisy_miners   No. Observations:                   31
Model:                            GLM   Df Residuals:                       29
Model Family:                 Poisson   Df Model:                            1
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -58.736
Date:                Thu, 12 May 2022   Deviance:                       63.318
Time:                        08:01:31   Pearson chi2:                     67.5
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.8762      0.283     -3.098      0.002      -1.431      -0.322
Euc            0.1140      0.012      9.169      0.000       0.090       0.138
==============================================================================

In [46]:
data = pd.read_csv('survival_data.csv')
data = data.drop(columns=data.columns[0])
data = sm.add_constant(data)
display(data)
glm_exp = sm.GLM(data['Time'], data.drop(columns='Time'), family=sm.families.Gamma(link=sm.families.link.log()))
res = glm_poisson.fit()
print(res.summary())

    const     WBC  Time  AG
0     1.0    2300    65   1
1     1.0     750   156   1
2     1.0    4300   100   1
3     1.0    2600   134   1
4     1.0    6000    16   1
5     1.0   10500   108   1
6     1.0   10000   121   1
7     1.0   17000     4   1
8     1.0    5400    39   1
9     1.0    7000   143   1
10    1.0    9400    56   1
11    1.0   32000    26   1
12    1.0   35000    22   1
13    1.0  100000     1   1
14    1.0  100000     1   1
15    1.0   52000     5   1
16    1.0  100000    65   1
17    1.0    4400    56   2
18    1.0    3000    65   2
19    1.0    4000    17   2
20    1.0    1500     7   2
21    1.0    9000    16   2
22    1.0    5300    22   2
23    1.0   10000     3   2
24    1.0   19000     4   2
25    1.0   27000     2   2
26    1.0   28000     3   2
27    1.0   31000     8   2
28    1.0   26000     4   2
29    1.0   21000     3   2
30    1.0   79000    30   2
31    1.0  100000     4   2
32    1.0  100000    43   2

AttributeError: module 'statsmodels.genmod.families' has no attribute 'link'